# rocket
ROCKET_PORT=9000
ROCKET_ENV=release
ROCKET_ADDRESS=0.0.0.0
RUST_BACKTRACE=1

# GG_18
# GG_18=true
# COMMUNICATE_API=http://127.0.0.1:9000

# GG_20
GG_18=false
COMMUNICATE_API=http://127.0.0.1:8000/ecdsa/gg_20/management/